@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS or Tailwind CSS */
@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Moves up */
    }
    100% {
      transform: translateY(0); /* Returns to original position */
    }
  }
  
  /* Apply animation to the name tags */
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
  


